* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
    margin: 10px;
    text-align: center;
}
